.div--wrap {
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    .div--selectinput {
        margin: 0 auto;
        width: 50%;
        border: 1px solid #e0e0e0;
    }
    
    .div--textbox {
        width: 80%;
        padding: 1rem;
        overflow-x: auto;
        white-space: nowrap;
        border: 1px solid #000000; 
    }
}