.div--nocontent {
    width: 80vw;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.div--copytitle {
    padding-left: 0.5rem;
    padding-bottom: 0.4rem;
    border-left: 2px solid rgba(126, 126, 126, 0.5);
}

.div--copytext {
    display: flex;
    padding-left: 0.5rem;
    border-left: 2px solid rgba(126, 126, 126, 0.5);

    &:nth-child(n+1):nth-child(-n+6) {
        margin-bottom: 0.7rem;
    }
}

.icon--animation {
    animation-name: jump;
    animation-duration: 0.5s;
}

@keyframes jump {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    30% {
        transform: rotate(-11deg);
    }

    60% {
        transform: translate(0, -6px) rotate(11deg);
    }

    75% {
        transform: translate(0, -3px) rotate(-7deg);
    }

    90% {
        transform: translate(0, -1px) rotate(7deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}